if length
	table(class="table table-hover")
		thead 
		tbody
		for cooperator in cooperators
			tr
				td= cooperator.email
				td
					button(type="button", data-image=imageid,data-id=cooperator._id.toString(), class="btn btn-danger btn-xs remove-cooperator") Remove permission
else
	p There is no cooperators