table(class="table table-hover")
	thead
		tr
			td file name
			td size (bytes)
			td 
	tbody
	for image in images
		tr
			td= image.name
			td= image.size
			td
				button(type="button", class="btn btn-primary btn-xs download-image",data-id=image._id.toString(), download)
					span(class="glyphicon glyphicon-download-alt")
				button(type="button", data-id=image._id.toString(), class="btn btn-danger btn-xs remove-image", data-toggle="modal" data-target="#delete-image-confirm")
					span(class="glyphicon glyphicon-trash")