body {
  padding-top: 70px;
  padding-bottom: 20px;
}

body {
  padding-top: 70px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 50px auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin .last-input {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.sign-options {
	margin-top: 10px;
	display: block;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

td button {
  margin-right: 20px;
}

.tab-content{
  padding-top: 20px;
}

#images {
  font-size: small;
}

#image-select {
  margin-right: 5px;
}

#progress-block {
  min-width: 300px;
  display: inline-block;
  padding-left: 10px;
  vertical-align: middle;
}

#selected-image-name {
  display: block;
}

#progress-image-upload{
  display:block;
}

#add-permission {
  margin-left: 20px
}

#add-permission-panel {
  min-height: 70px;
  margin-top: 30px;
}
#cooperators-filter-text {
  min-width: 250px;
}

.search-controls {
  margin-bottom: 10px;
}

#cooperators-wrapper {
  max-height: 150px;
  overflow:auto;
}

/*
* EDITOR CSS CODE
*
*/
/*h3 {
  font-size: 16px;
  font-family: arial;
  margin-top: 5px;
  margin-bottom: 5px;
}
#filters {
  float: left;
  width: 25%;
  border-width: 2px;
  border-style: solid;
  border-color: #c2c2c2;
  margin-right: 10px;
  padding: 10px;
  height:80px;
}
#modes {
  float: left;
  width:40%;
  border-width: 2px;
  border-style: solid;
  border-color: #c2c2c2;
  padding: 10px;
  margin-right: 10px;
  height:80px;
}
#extras {
  float: left;
  width:25%;
  border-width: 2px;
  border-style: solid;
  border-color: #c2c2c2;
  padding: 10px;
  height:80px;
}
#none {
  font-weight: bolder;
}
*/

.tools-panel {
  position:fixed;
  max-width:20%;
  min-width:20%;
}

.container-wraper {
  background-color: white;
  max-width: 75%;
  max-height: 400px;
  overflow: auto;
  float:right;
}

#container {
  background-color: black;
}

.image-buffer{
  display:none;
}

.back-to-images{
  margin-bottom: 5px;
  margin-top: 2px;
}

#message-to-send {
  width: 70%;
  margin-right: 2px;
}
#send-chat-form {
  max-width: 20%;
}

.chat-wrapper, .history-wrapper{
  min-height: 100px;
  max-height: 100px;
  overflow:auto;
  padding:3px;
}
#messages{
  padding-left:3px;
}
.chat-wrapper #messages li{ 
  list-style-type: none; 
  margin-bottom:5px;
}

#chat-panel {
  padding: 5px;
}



