doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/bower_components/bootstrapValidator/src/css/bootstrapValidator.css')
    link(rel='stylesheet', href='/bower_components/jquery-loader-plugin/jquery.loader.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/bower_components/bootstrapValidator/dist/js/bootstrapValidator.js')
    script(src='/javascripts/app.js')
    script(src='/bower_components/jquery-loader-plugin/jquery.loader.js')
    script(src='/bower_components/bs-typeahead/js/bootstrap-typeahead.js')
    script(src='/bower_components/bootstrap/js/tab.js')
  body
    div(class='navbar navbar-inverse navbar-fixed-top', role='navigation')
      div(class='container')
        div(class='navbar-header')
          a(class='navbar-brand') Image TeleConsult
        div(class='navbar-collapse collapse')
          - if (email)
            ul(class='nav navbar-nav navbar-right')
              li(class='dropdown')
                a(id='user-menu', role='button', class='toggle-dropdown', data-toggle='dropdown', href='#') #{email}
                ul(class='dropdown-menu', role='menu', aria-labelledby='user-menu')
                  li
                    a(id='sign-out-button', href='#') Sign Out

    div(class='container')
      block content